<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 


<h:form>

	<h:panelGrid  columns="2">
		<h:outputText value="Código" />
		<h:inputText value="#{librosController.libro.codigo}" />
		
		<h:outputText value="Nombre" />
		<h:inputText value="#{librosController.libro.nombre}" />
		
		
		<h:outputText value="" />
		<h:commandButton action="#{librosController.addAutor()}" value="+ autor" />
		
		<h:outputText value="Autores" />
		<h:dataTable value="#{librosController.libro.autores}" var="autor">
			<h:column>
				<f:facet name="header">Código</f:facet>
				<h:inputText value="#{autor.codigo}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Autor</f:facet>
				<h:inputText value="#{autor.codigoAutorTemp}" >
					<f:ajax listener="#{librosController.buscarAutor(autor)}" render="nombreAutor"></f:ajax>
				</h:inputText>
				<h:outputText value="#{autor.autor.nombre}" id="nombreAutor" />
			</h:column>
			
		</h:dataTable>
		
		
		<h:outputText value="" />
		<h:commandButton action="#{librosController.guardar()}" value="Guardar" />
	
	</h:panelGrid>
	
	<h:commandButton action="lista_autores" value="Listado" />

</h:form>
</body> 
</html>
