<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

<h:form>
	<h:dataTable value="#{auroresController.autores}" var="autor">
		<h:column>
				<f:facet name="header">Código</f:facet>
				#{autor.codigo}
			</h:column>
			
			<h:column>
				<f:facet name="header">Nombre</f:facet>
				#{autor.nombre}
			</h:column>
			
			<h:column>
				<f:facet name="header">Libros</f:facet>
				
				
				<h:dataTable value="#{autor.libros}" var="libro">
						<h:column>
							<f:facet name="header">Código</f:facet>
							#{libro.libro.codigo}
						</h:column>
						
						<h:column>
							<f:facet name="header">Nombre</f:facet>
							#{libro.libro.nombre}
						</h:column>
			
				</h:dataTable>
			</h:column>
	</h:dataTable>

	<h:commandButton action="crear_libro" value="Crear libro" />
</h:form>
</body> 
</html>
